pandas used to analysis and manipulating data too

In [14]:
import numpy as np
import pandas as pd

# Pandas Series:

is like a column in a table. it is 1-D array holding any type of data 

we can create series from list and dictionary.

# creating series:

In [15]:
# string
country=["india", "shri lanka","tiwan","australia","shouth africa","england","USA" ]
print(pd.Series(country))

0            india
1       shri lanka
2            tiwan
3        australia
4    shouth africa
5          england
6              USA
dtype: object

In [16]:
# integer
salary=[1000,2000,5000,10000,25000]
pd.Series(salary)

0     1000
1     2000
2     5000
3    10000
4    25000
dtype: int64

In [17]:
# custom index:
marks=[33,85,72,53,75]
sub=["eng","math","bio","phy","chem"]

# pd.Series(list, index=index labels(will become index))
pd.Series(marks,index=subject)

NameError: name 'subject' is not defined

In [ ]:
# give name to series
pd.Series(marks,index=sub,name="Nishant Result")

# Series from dict

In [18]:
result_card={
    "math":85,
    "eng":33,
    "phy":53,
    "chem":75,
    "bio":72  
}
marks_series=pd.Series(result_card,name="Result Card")
marks_series

math    85
eng     33
phy     53
chem    75
bio     72
Name: Result Card, dtype: int64

# Series Attributes

# size

In [19]:
# will give total number of items in the the series
result_card.size

AttributeError: 'dict' object has no attribute 'size'

In [20]:
result_card.dtype

AttributeError: 'dict' object has no attribute 'dtype'

In [21]:
n.name

NameError: name 'n' is not defined

In [22]:
n.is_unique

NameError: name 'n' is not defined

In [23]:
n.index

NameError: name 'n' is not defined

In [24]:
runs=[13,24,25,32,45,62]
runs_ser=pd.Series(runs)
print(runs_ser)
runs_ser.index

0    13
1    24
2    25
3    32
4    45
5    62
dtype: int64

RangeIndex(start=0, stop=6, step=1)

In [25]:
n.values

NameError: name 'n' is not defined

# Series using read CSV

In [26]:
# one column data set
type(pd.read_csv("C:\\Users\\DELL\\Desktop\\pythonn\\campus x\\session-datasets-20240731T033422Z-001\\datasets-session-16\\subs.csv"))

pandas.core.frame.DataFrame

In [27]:
# import file from the folder or location in to working file
pd.read_csv("C:\\Users\\DELL\\Desktop\\pythonn\\campus x\\session-datasets-20240731T033422Z-001\\datasets-session-16\\subs.csv")

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

># convert dataframe to series
> use squeeze = True at the end to convert you dataframe data into Series

In [28]:
df = pd.read_csv("C:\\Users\\DELL\\Desktop\\pythonn\\campus x\\session-datasets-20240731T033422Z-001\\datasets-session-16\\subs.csv")
vk=pd.read_csv("C:\\Users\\DELL\\Desktop\\pythonn\\campus x\\session-datasets-20240731T033422Z-001\\datasets-session-16\\kohli_ipl.csv")

In [29]:
subs = df.squeeze()
print(subs)
print(type(subs))

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
<class 'pandas.core.series.Series'>

In [30]:
# with two columns
vkipl=pd.read_csv("C:\\Users\\DELL\\Desktop\\pythonn\\campus x\\session-datasets-20240731T033422Z-001\\datasets-session-16\\kohli_ipl.csv",index_col="match_no")
display(vkipl)
print(type(vkipl))

          runs
match_no
1            1
2           23
3           13
4           12
5            1
...        ...
211          0
212         20
213         73
214         25
215          7

[215 rows x 1 columns]

<class 'pandas.core.frame.DataFrame'>

In [31]:
vk=vkipl.squeeze()
print(vk)
type(vk)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

pandas.core.series.Series

In [32]:
# with three columns
boll=pd.read_csv("C:\\Users\\DELL\\Desktop\\pythonn\\campus x\\session-datasets-20240731T033422Z-001\\datasets-session-16\\bollywood.csv",index_col="movie")
display(boll)
print(type(boll))

                                                  lead
movie
Uri: The Surgical Strike                 Vicky Kaushal
Battalion 609                              Vicky Ahuja
The Accidental Prime Minister (film)       Anupam Kher
Why Cheat India                          Emraan Hashmi
Evening Shadows                       Mona Ambegaonkar
...                                                ...
Hum Tumhare Hain Sanam                  Shah Rukh Khan
Aankhen (2002 film)                   Amitabh Bachchan
Saathiya (film)                           Vivek Oberoi
Company (film)                              Ajay Devgn
Awara Paagal Deewana                      Akshay Kumar

[1500 rows x 1 columns]

<class 'pandas.core.frame.DataFrame'>

In [33]:
bolly=boll.squeeze()
print(bolly)
type(bolly)

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

pandas.core.series.Series

# Series methods

# head  - used to preview & show the data
>by default it show 5 rows data.

In [34]:
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [35]:
vk.head(60)

match_no
1      1
2     23
3     13
4     12
5      1
6      9
7     34
8      0
9     21
10     3
11    10
12    38
13     3
14    11
15    50
16     2
17    22
18    19
19    16
20    15
21    20
22    38
23    19
24    24
25     7
26     2
27    16
28    17
29    24
30    38
31    34
32    42
33    13
34    58
35     3
36    14
37    37
38     9
39    23
40    12
41    71
42    35
43    30
44    56
45    67
46    27
47    27
48    39
49    15
50    11
51    31
52    70
53     8
54    35
55     8
56     6
57    57
58    22
59    16
60     4
Name: runs, dtype: int64

# tail - will preview & show data from the bottom of the data
>by default it show bottom 5 rows from the data

In [36]:
vk.tail()

match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [37]:
vk.tail(10)

match_no
206     0
207     0
208     9
209    58
210    30
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

# sample -
>will show 1 rows randomly (by default 1 row and you can view many numbers of data )

In [38]:
bolly.sample()

movie
Prince (2010 film)    Vivek Oberoi
Name: lead, dtype: object

In [39]:
bolly.sample(5)

movie
1920: The Evil Returns        Vicky Ahuja
Dehraadun Diary            Adhyayan Suman
Vaada Raha                     Bobby Deol
Paisa Vasool              Manisha Koirala
Chaar Din Ki Chandni       Tusshar Kapoor
Name: lead, dtype: object

# value counts. 
will give number of counts of each characters in the dataset (if found dulicate values)
>name of column.value_counts()

In [40]:
bolly.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

# sort_values -> inplace =True
>.sort_values(inplace=True) (inplace=True are used to make permanet changes in the orignal values)

In [41]:
# sort in ascending orders 
vk.sort_values()

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [ ]:
# sort in descending orders
vk.sort_values(ascending=False)

In [ ]:
# give only highest score and match number
vk.sort_values(ascending=False).head()

In [ ]:
# give only highest score and match number
vk.sort_values(ascending=False).head(1)

In [ ]:
# give only match score. the sequence is used in the function to find the highest score is called chain method.
vk.sort_values(ascending=False).head(1).values[0]

# sort_index - inplace -> movies
will sort the data set in alphabetic orders    
(inplace=True are used to make permanet changes in the orignal values)

In [ ]:
bolly.sort_index()

# Series Maths Methods

In [ ]:
# count
vk.count()

In [ ]:
# sum - product
subs.sum()

In [ ]:
# product
subs.product()

In [ ]:
#mean
subs.mean()

In [ ]:
# median
print(subs.median())
vk.median()

In [ ]:
# mode - give highest value in the dataset
# 0 is index number
bolly.mode()

In [ ]:
# standard deviation
vk.std()

In [ ]:
# variance
vk.var()

In [ ]:
# min
subs.min()

In [ ]:
#max
subs.max()

In [ ]:
# describe - will give you the summary.
print(vk.describe())
print()
print(subs.describe())

# series indexing

In [ ]:
# integer indexing
x=pd.Series([12,22,32,74,45,62,17,48,90])
print(x[0])
print(x[1])
print(x[5])

In [ ]:
# negative indexing not allowed in the pandas series only allowed when index is string value
y=pd.Series([12,22,32,74,45,62,17,48,90])
print(y[-1])

In [ ]:
# negative indexing allowed when index is string value.
print(bolly[0])
print(bolly[-1])

# slicing

In [ ]:
vk[5:16]

In [ ]:
vk[-5:-1]

In [ ]:
bolly[-5:]

In [ ]:
bolly[::2]

In [ ]:
# fancy indexing
vk[[1,3,4,5]]

In [ ]:
# indexing with label -> fancy indexing
bolly['Aankhen (2002 film)']

In [ ]:
bolly

In [ ]:
bolly['Saathiya (film)']

# editing series

In [ ]:
# using indexing
print("befor editing",marks_series)
marks_series[1]=95
print("After editing",marks_series)

In [ ]:
# what if an index , does not exist. it will add the value into dataset

marks_series["SST"]=90
print(marks_series)

In [ ]:
# slicing
runs_ser[2:4]=[90,80]
runs_ser

In [ ]:
# using fancy indexing
runs_ser[[0,3,4]]=[0,0,0]
runs_ser

In [ ]:
# using index label
bolly['Awara Paagal Deewana']="sunil shetty"
bolly

# series with python functionality

In [ ]:
# len/type/dir/sorted/max/min

print(len(subs))
print(type(subs))
print(sorted(subs))
print(min(subs))
print(max(subs))

print()
print(dir(subs))

In [ ]:
# type conversion
marks_series
list(marks_series)
dict(marks_series)

In [ ]:
# membership operator
bolly

In [ ]:
'2 States (2014 film)' in bolly

In [ ]:
# looping
for i in bolly.index:
    print(i)

In [ ]:
# looping
for i in bolly:
    print(i)

In [ ]:
# arithmatic operators
print(100-marks_series)
print(100+marks_series)
print(100*marks_series)

In [ ]:
# relation operator
vk>=50

# Boolean indexing on series

In [ ]:
# find the no of 50s and 100s scored  by kohli
print(vk[vk>=50])
print("total no matches above 50s:",vk[vk>=50].size)

In [ ]:
# find the number of ducks
vk[vk==0].size

In [ ]:
# count the number of days when i had more than 200 subs a day
subs[subs>=200].size

In [42]:
# find the actors who have done more than 20 films
num_movies=bolly.value_counts()
num_movies[num_movies>20]

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
Shah Rukh Khan      22
Emraan Hashmi       21
Name: count, dtype: int64

# plotting Graphs on series

In [ ]:
subs.plot()

In [ ]:
bolly.value_counts().head(20).plot()

In [ ]:
bolly.value_counts().head(20).plot(kind="bar")

In [ ]:
bolly.value_counts().head(20).plot(kind="pie")

# astype 
reduce size of value and save memory

In [ ]:
import sys
sys.getsizeof(vk)

In [ ]:
sys.getsizeof(vk.astype("int16"))

# between 
will help to check whether the thing are exist or not in between given range or data.

In [48]:
vk[vk.between(51,99)]
vk[vk.between(51,99)].size

43

# clip
work on the range where betweeen the range value not change but out of the range value become the given value.

In [ ]:
subs

In [43]:
subs.clip(100,200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

# drop duplicated
will removed all dulipcate values and by default it removed last occurance of the value.

In [ ]:
temp=pd.Series([1,1,2,3,4,5,6,3,6,8,4])
temp

In [ ]:
temp.drop_duplicates()

In [ ]:
temp.duplicated().sum()

In [ ]:
vk.duplicated().sum()

In [ ]:
subs.duplicated().sum()

# isnull

In [44]:
temp=pd.Series([1,np.nan,3,4,5,np.nan,7,8,np.nan,0])
temp

0    1.0
1    NaN
2    3.0
3    4.0
4    5.0
5    NaN
6    7.0
7    8.0
8    NaN
9    0.0
dtype: float64

In [45]:
temp.isnull().sum()

3

# dropna
will remove all the na value containing rows

In [46]:
temp.dropna()

0    1.0
2    3.0
3    4.0
4    5.0
6    7.0
7    8.0
9    0.0
dtype: float64

# fillna
will fill na value with the given values.

In [47]:
temp.fillna(0)

0    1.0
1    0.0
2    3.0
3    4.0
4    5.0
5    0.0
6    7.0
7    8.0
8    0.0
9    0.0
dtype: float64

# isin
help to check multiple values in the data set single columns

In [ ]:
# | - worked as or bitwise operator
vk[(vk==49) | (vk==99)] # method one

In [ ]:
# isin
vk[vk.isin([49])]
vk[vk.isin([49,99])]

# apply
will allow you to apply your own custom logic in the dataset

In [ ]:
# first name of actor should be capital latter 
bolly.apply(lambda x: x.split()[0].upper())

In [ ]:
# extract first name of the actor
bolly.apply(lambda x: x.split())

In [ ]:
subs

In [ ]:
subs.mean()

In [ ]:
# if subscriber count greater than average subscribers than call it good day otherwise bad day.
subs.apply(lambda x: "Good Day" if x>subs.mean() else "Bad Days")

# copy

In [ ]:
new=vk.head().copy()

In [ ]:
new

In [ ]:
new[1]=100

In [ ]:
new

In [ ]:
vk